<li class="dropdown user user-menu">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{user.avatar}}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="{{user.avatar}}" class="img-circle" alt="User Image">
            <p>
                {{user.name}} - Web Developer
                <small>Member since {{user.created_at | date:'MMM . yyyy'}}</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a ui-sref="app.logout" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>