<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>N</b>MR</span>
        <span class="logo-lg"><b>NIMER</b> FARAHTY</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li user-menu> </li>
            </ul>
        </div>
    </nav>
</header>