<div class="content-wrapper">
    <section class="content-header">
        <h1>Loader</h1> <small>description</small>
        <ol class="breadcrumb">
            <li><a ui-sref="app.home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> <a ui-sref="app.level_list"><i class="fa fa-level-up"></i> Loaders</a></li>
            <li class="active">Loader</li>
        </ol>
    </section>


    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Loader title</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                </button>
                </div>
            </div>
            <div class="box-body">
                Loader body
            </div>
            <div class="box-footer">
                Loader footer
            </div>
        </div>
    </section>
</div>